*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

.wrap-div{
    display: flex;
    width: 100%;
}

.menu{
    width: 15%;
    height: 100vh;
    background-color: #2d4b7b;
    display: flex;
    flex-direction: column;
}

.menu .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    border-bottom: 2px solid black;
    color: #f8d72e;
}

.menu nav ul li{
    padding: 1rem;
    border-bottom: 2px solid black;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    background-color: #f6f6f9;
    gap: 4rem;
}

.options{
    display: flex;
    gap: .3rem;
    height: 2.4rem;
    width: 30rem;
    
}

.options select {
    width: 30rem;
    color: black;
    font-size: 1rem;
    padding-left: 0.8rem;
    background-color: white;
}

.options button{
    width: 3rem;
    height: 2.4rem;
    background-color: white;
}

.selecao{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.condominio{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    align-items: center;
}

.condominio h2{
    margin-bottom: 2rem;
}
.equipamentos{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    height: max-content;
    padding: 1rem;
}

.equipamentos > div{

    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.dispositivo{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 0 25px rgb(160, 155, 155);
    justify-content: space-between;
}
.dispositivo >div{
    display: flex;
    align-items: center;
}

.botoes{
    flex-direction: column;
    gap: 1rem;
}

.ligar{
    background-color: #27ae60;
    border-radius: 5px;
    border: none;
    width: 4.3rem;
    height: 2.5rem;
    color: white;
    font-size: 11pt;
    font-weight: 700;
    box-shadow: 1px 1px 1px white;
    cursor: pointer;
}

.desligar{
    background-color: #e74c3c;
    border-radius: 5px;
    border: none;
    width: 4.3rem;
    height: 2.5rem;
    color: white;
    font-size: 11pt;
    font-weight: 700;
    box-shadow: 1px 1px 1px white;
    cursor: pointer;
}

.ligado {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: green;
    margin-right: 3px;
    animation: piscar 1s infinite;
}
.desligado{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: red;
    margin-right: 3px;
    
}
@keyframes piscar {
  0% {
    background-color: black;
    box-shadow: none;
  }

  50% {
    background-color: green;
    box-shadow: 0 0 15px green;
  }

  100% {
    background-color: black;
    box-shadow: none;
  }
}

.btn-header, .btncond-header{
    position:absolute;
    top: 2%;
    right: 2%;
}

.btn-header button {
    padding: 0.4rem 1.3rem;
    font-size: 11pt;
    border: none;
    background-color: #4169E1;
    color: white;
    border-radius: .3rem;
    box-shadow: 2px 2px 2px black;
    border: 1px solid white;
    cursor: pointer;
    font-weight: 700;
}
.btncond-header button{
    padding: 0.4rem 1.3rem;
    font-size: 11pt;
    border: none;
    background-color: #4169E1;
    color: white;
    border-radius: .3rem;
    box-shadow: 2px 2px 2px black;
    border: 1px solid white;
    cursor: pointer;
    font-weight: 700;
}
.tabela-usuarios {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.tabela-usuarios th,
.tabela-usuarios td {
  padding: 12px;
  text-align: left;
}

.tabela-usuarios thead {
  background-color: #2c3e50;
  color: white;
}

.tabela-usuarios tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabela-usuarios tbody tr:hover {
  background-color: #e6f2ff;
}

.admin {
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}

.usuarios{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    gap: 2rem;
    width: 70%;
}

.usuarios table tbody tr .acoes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.usuarios table tbody tr .acoes > button {
    padding: 0.4rem 1.3rem;
    cursor: pointer;
    background-color: blue;
    color: white;
    font-size: 11pt;
    border: none;
    border-radius: 3px;
    font-weight: 700;
}

.editar{
    background-color: #27ae60!important;
}

.excluir{
    background-color: #e74c3c!important;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 6px;
    color: black;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #333;
    color: black;
    outline: none;
    transition: 0.3s;
    font-size: 10pt;
}

.input-group input:focus {
    border-color: black;
    box-shadow: 0 0 8px #6c63ff66;
}

.login-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #6c63ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #5848e5;
}

.add-form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 25px rgb(160, 155, 155);
    border-radius: 0.5rem;
    color: black;
    gap: 1rem;
    margin-top: 3rem;
    width: 27%;
}

.input-admin{
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 8px;
    color: black;
    outline: none;
    transition: 0.3s;
    display: flex;
    gap: 1rem;
    margin-left: .3rem;
}

.input-admin input{
    width: 20px;
}
